<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Result</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        
        <style>
            h2{
    
                background-color: rgb(18, 65, 81);
                color: yellowgreen;
                text-align: center;
                margin-top: 30px;
                font-size:40px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        </style>


    </head>
    <body>
        <div  id="header" >
            <h2>Result Management System</h2>
        </div>
        
        <br>

        <div id="page" class="card text-center " >
            <br>

            <div class="container-fluid">
                <h3 class="card-title" style="color:rgb(2, 6, 56) " >Login As</h3> 
            </div>

            <div  id="buttons" class="container-fluid">
                <a <button href="/teacher"  type="button" class="btn btn-primary" style="margin-right:50px">Teacher</button> </a>
                <a <button href="/student" type="button" class="btn btn-primary" style="margin-left:50px" >Student</button>   </a>
            </div>
            <br>
           
        </div>

        
    </body>
</html>