<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


<br>



<div class="card text-center"> 
    {{#data}}
  <div class="card-header" style="background-color:chocolate ; color:white ; font-size:larger "  >
    Student Results
  </div>

  <div class="card-body">
    <h4 class="card-title" style="color:rgb(2, 6, 56) ; background-color:bisque "  >Result Of RollNumber : {{RollNumber}} </h4>
    
    <br>
    <h5>Name   :   {{Name}} </h5> 
    <br>
    <h5>DateOfBirth   :   {{DateOfBirth}} </h5> 
    <br>
    <h5>Score   :   {{Score}} </h5> 
    <br>
    <a href="/student" > <button class="btn btn-dark"  >Back</button> </a>
    <br>

    
    
    
  </div>

  <div class="card-footer ">
    Result Management System
  </div>

  {{/data}}
</div>

